<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework</title>
</head>
<body>
<h1>Author List</h1>
<table>
  <tr>
    <th>ID</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>books</th>
  </tr>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}">123</td>
    <td th:text="${author.firstName}">pardhu</td>
    <td th:text="${author.lastName}">sai</td>
    <td>
      <ul>
        <li th:each="book : ${author.books}" th:text="${book.title}"></li>
      </ul>
    </td>
  </tr>
</table>
</body>
</html>





